* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 16px;
  line-height: 20px;
}

/* Common defined class  */
.select-none {
  -webkit-user-select: none;
  user-select: none;
}

/* Fix CSS : Select tags */
.MuiInputBase-adornedStart {
  flex-wrap: wrap;
}

.MuiInputBase-inputAdornedStart {
  flex: 1;
}
